{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row justify-content-center">
        <h3 class="h3 mb-3 font-weight-normal">Register</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'} }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <button type="submit" class="btn btn-block btn-primary">Register</button>
    </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
